
<%= form_with(model: @suburb, local: true) do |suburb_form| %>


    <div class="field p-10 flex items-left font-sans overflow-hidden flex-col">
        <%= suburb_form.label :name %>
        <%= suburb_form.text_field :name %>
    </div>

    <div class="field p-10 flex items-left font-sans overflow-hidden flex-col">
        <%= suburb_form.label :postcode %>
        <%= suburb_form.text_field :postcode %>
    </div>



    <%= suburb_form.submit "Add Suburb" %>
 

<% end %>