<%= form_with(model: @user, local: true) do |user_form| %>
  <div class="flex px-52 pt-44 items-center font-sans overflow-hidden flex-col">

    <% if current_user.image.attached? %>
   

        <div class="round overflow-hidden rounded-lg shadow-lg flex justify-center">
        <%= image_tag(@user.image, :class => "picture flex flex-wrap") %>
        </div>

    <% end %>


    <label class="rounded-full py-3 px-6 bg-yellow-200 hover:bg-red-300">
      Add image
      <span style="display:none;">
        <%= user_form.file_field :image, required: true, multiple: true, name: 'picture' %>
      </span>
    </label>

  
    <div class="field p-10 flex items-left font-sans overflow-hidden flex-col">
        <%= user_form.label :first_name %>
        <%= user_form.text_field :first_name %>
    </div>
  
    <div class="field p-10 flex items-left font-sans overflow-hidden flex-col">
        <%= user_form.label :last_name %>
        <%= user_form.text_field :last_name %>
    </div>
  
    
    <%= user_form.fields_for :address, Address.new do |address_form| %>
      <div class="field p-10 flex items-left font-sans overflow-hidden flex-col">
        <%= address_form.label :street_number %>
        <%= address_form.text_field :street_number %>
      </div>
      <div class="field p-10 flex items-left font-sans overflow-hidden flex-col">
        <%= address_form.label :street_name %>
        <%= address_form.text_field :street_name %>
      </div>
    
        <%= address_form.fields_for :suburb, Suburb.new do |suburb_form| %>
          <div class="field p-10 flex items-left font-sans overflow-hidden flex-col">
          <%= suburb_form.label "suburb" %>
          <%= suburb_form.text_field :name %>
          </div>
          <div class="field p-10 flex items-left font-sans overflow-hidden flex-col">
          <%= suburb_form.label :postcode %>
          <%= suburb_form.text_field :postcode %>
          </div>
        <% end %>
      </div>
    <% end %>
 
  
    <div class="actions flex justify-center pb-40 pt-20">
      <%= user_form.submit "Update" %>
    </div>

  </div>
<% end %>
