


<% if @user.look_a_like != nil %>



    <div class="m-20 p-10">
    <% (0...@images.count).each do |img| %>
        <div class="square overflow-hidden rounded-lg shadow-lg flex justify-center">
            <%= image_tag(@images[img], :class => "") %>
        </div>

    <% end %>
    </div>


    <%= form_with(model: @user, local: true) do |user_form| %>

        <div class="actions flex flex-col justify-center pb-40 pt-20">

            <%= user_form.fields_for :look_a_like do |lookalike_form| %>

                <div class="flex items-center font-sans overflow-hidden flex-col">

                
                    <div class="field sm:p-10 flex items-left font-sans overflow-hidden flex-col justify-center ">
                        <label class="">
                            Add image
                            <span style="display:none;">
                                <%= lookalike_form.file_field :images, multiple: true %>
                            </span>
                        </label>
                    </div>




                    <div class="field sm:p-10 flex items-left font-sans overflow-hidden flex-col justify-center ">
                        <%= lookalike_form.text_field :bio %> 
                    </div>

                </div>

            <% end %>

            <div class= "flex justify-center">
                <%= user_form.submit "Update" %>
            </div>

        </div>

    <% end %>












    <div class="m-12">
        <h2 class="flex justifyer-cent">Suburbs</h2>

        <div class="overflow-x-auto">
            
            <div class="min-w-screen bg-gray-100 flex items-center justify-center overscroll-auto font-sans overflow-hidden">
                

                <table class="min-w-max w-full table-auto">

                    <thead>
                        <tr class="bg-green-200 text-green-600 text-sm">
                        <th class="py-2 px-4 text-left">name</th>
                        <th class="py-2 px-4 text-left">postcode</th>
                        <th colspan="3"></th>
                        </tr>
                    </thead>

                    <tbody>

                        <% if @user.look_a_like.suburbs != nil %>

                            <% @user.look_a_like.suburbs.each do |suburb| %>

                                <tr>
                                    <td class="m-12"><%= suburb.name %></td>
                                    <td class="m-9"><%= suburb.postcode %></td>
                                    <td class="m-9"><%= link_to 'Remove Suburb', remove_suburb_path(suburb) %></td>
                                </tr>




                            <% end %>

                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>






<%= link_to 'Suburb', new_suburb_path %>





<%= link_to 'Movies', movies_path %>





<% end %>