


<% if @user.look_a_like != nil %>



    <div class="m-20 p-10">
    <% (0...@images.count).each do |img| %>
        <div class="square overflow-hidden rounded-lg shadow-lg flex justify-center">
            <%= image_tag(@images[img], :class => "") %>
        </div>

    <% end %>
    </div>


    <%= form_with(model: @user, local: true) do |user_form| %>

        <div class="actions flex flex-col justify-center pb-40 pt-20">

            <%= user_form.fields_for :look_a_like do |lookalike_form| %>

                <div class="flex items-center font-sans overflow-hidden flex-col">

                
                    <div class="field sm:p-10 flex items-left font-sans overflow-hidden flex-col justify-center ">
                        <label class="">
                            Add image
                            <span style="display:none;">
                                <%= lookalike_form.file_field :images, multiple: true %>
                            </span>
                        </label>
                    </div>




                    <div class="field sm:p-10 flex items-left font-sans overflow-hidden flex-col justify-center ">
                        <%= lookalike_form.text_field :bio %> 
                    </div>

                </div>

            <% end %>

            <div class= "flex justify-center">
                <%= user_form.submit "Update" %>
            </div>

        </div>

    <% end %>





<% else %>


<% end %>