
<div class="flex px-52 pt-44 items-center font-sans overflow-hidden flex-col">


    <h1>My Details</h1>


    <div class="justify-center">

        <% if current_user.image.attached? %>

            <div class="round overflow-hidden rounded-lg shadow-lg flex justify-center">
                <%= image_tag(@user.image, :class => "picture flex flex-wrap") %>
            </div>

        <% end %>




        <div class="field p-10 flex items-left font-sans overflow-hidden flex-col">
        <h2>First Name</h2>
        <% if (current_user.first_name) != nil %>
            <p><%= current_user.first_name %></p>
        <% else %>
            <p>You have not given a first name</p>
        <% end %>
        </div>


        <div class="field p-10 flex items-left font-sans overflow-hidden flex-col">
        <h2>Last Name</h2>
        <% if (current_user.last_name) != nil %>
            <p><%= current_user.last_name %></p>
        <% else %>
            <p>You have not given a last name </p>
        <% end %>
        </div>



        <div class="field p-10 flex items-left font-sans overflow-hidden flex-col">
        <h2>Address</h2>
        <% if (current_user.address) != nil %>
            <p><%= current_user.address.street_number %></p>
            <p><%= current_user.address.street_name %></p>
            <p><%= current_user.address.suburb.name %></p>
            <p><%= current_user.address.suburb.postcode %></p>


        <% else %>
            <p>You have not given an address</p>
        <% end %>
        </div>


        <div class="field p-10 flex items-left font-sans overflow-hidden flex-col">
            <%= link_to "edit profile info", edit_profile_info_path(current_user) %>
        </div>

    </div>



</div>





<div class="my_look_a_like flex flex-col">
        <%= render "user_profile_lookalike" %>
</div>



<div class="my_look_a_like flex flex-col">
        <%= render "look_a_like_form" %>
</div>