

<div class="m-16 flex justify-center bg-gray-100">
  <%= form_with(model: @event, local: true) do |event_form| %>
    <div class="flex px-10 pt- pb-12 m-5 items-center font-sans overflow-hidden flex-col bg-gray-50">

      <% if event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <div class="field sm:px-10 my-8 flex items-left font-sans overflow-hidden flex-col w-96">
        <%= event_form.label :date %>
        <div>
          <%= event_form.date_select :date %>
        </div>
      </div>

      <div class="field sm:px-10 my-8 flex items-left font-sans overflow-hidden flex-col w-96">
        <%= event_form.label :time %>
        <div>
          <%= event_form.time_select :time %>
        </div>
      </div>

      <%= event_form.fields_for :address do |address_form| %>
      <div class="field sm:p-10 flex items-left font-sans overflow-hidden flex-col">
        <%= address_form.label :street_number %>
        <%= address_form.text_field :street_number %>
        <%= address_form.label :street_name %>
        <%= address_form.text_field :street_name %>

        <%= address_form.fields_for :suburb do |suburb_form| %>
          <%= suburb_form.label :name %>
          <%= suburb_form.text_field :name %>
          <%= suburb_form.label :postcode %>
          <%= suburb_form.text_field :postcode %>
        <% end %>
      </div>
      <% end %>

      
        <%= event_form.label :price %>
      <div class="field p-2 flex items-left font-sans overflow-hidden flex-col bg-purple-200">
        <%= event_form.number_field :price %>
      </div>

    </div>







    <div class="p-2 w-80 bg-purple-200 flex justify-center mx-44">
      <div class="bg-green-100 bg-opacity-80 h-48 overflow-hidden flex justify-center">
        <div class="overflow-auto flex flex-col w-full">
          <% for item in @movies %>
            <div class="flex flex-row items-center justify-between w-full">
              <p class="text-sm py-6"><%= item["title"] %></p>
   
              <input type="checkbox" name="movies[]" value="<%= item["title"] %>" />
            </div>
          <% end %>
        </div>
      </div>
    </div>



    <div class="field sm:p-10 flex items-left font-sans overflow-hidden flex-col">
      <%= event_form.label :listed %>
      <%= event_form.check_box :listed %>
    </div>


    <div class="actions">
      <%= event_form.submit %>
    </div>

  <% end %>

</div>
