


<% if @event.user.first_name != nil && @event.user.first_name != nil %>
  <p>
    <strong>Host Name:</strong>
    <%= @event.user.first_name + ' ' + @event.user.first_name%>
  </p>
<% else %>
  <p>
    <strong>User has not set name</strong>
  </p>
<% end %>


<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address.street_number + ' ' + @event.address.street_name + ' ' + @event.address.suburb.name + ' ' + @event.address.suburb.postcode.to_s %>
</p>


<p>
  <strong>Payment:</strong>
  <% if @event.price != nil %>
    <%= @event.price.to_s + '.00 AUD' %>
  <% else %>
    <%= '.50 AUD' %>
  <% end %>
</p>




<% if @event.user != current_user %>


  <% if current_user.look_a_like != nil %>


    <% if @included %>

      <% userll = current_user.look_a_like.events_look_a_likes %>
      <% ans = userll[0] %>
      <% for item in userll %>
        <% if item.event == @event %>
          <% ans = item %>
        <% end %>
      <% end %>
      
      <% if ans.host_accepted == true%>

        <p> The host has accepted your expression of interest <p>

        <p>Would you like to confirm your interest?<p>

        <%= form_with(model: @intersection, local: true) do |eventlal_form| %>

        
          <div class="field">
            <%= eventlal_form.hidden_field :look_a_like_accepted, value: true %>  
          </div>
          


          <div class="actions">
            <%= eventlal_form.submit %>
          </div>

        <% end %>

      <% else %>

        <p> You have sent expression of interest </p>


    

        link_to 'Select a movie', select_movie_path()



      <% end %>

    <% else %>



      <p>You can send an expression of interest<p>



      <%= link_to 'Send Expression of Interest', submit_interest_path(@event) %>


 



    <% end %>

  <% else %>
  <% end %>

<% else %>

  <p>This is one of your events </p>



    <% @event.events_look_a_likes.each do |events_look_a_like| %> 

      <tr>
              <td><%= events_look_a_like.look_a_like.user.id %></td>

        <td><%= events_look_a_like.look_a_like.user.first_name %></td>
        <td><%= events_look_a_like.look_a_like.user.last_name %></td>
        <td><%= link_to 'Show Look-a-Like', events_look_a_like %></td>
      </tr>


    
      <% if events_look_a_like.look_a_like_accepted == true %>
     
        <tr>
          <td><%= events_look_a_like.look_a_like.user.first_name %></td>
          <td><%= events_look_a_like.look_a_like.user.last_name %></td>
          <td><%= link_to 'Show', events_look_a_like.look_a_like %></td>
          <p> Pay LookALike </p>
        </tr>
      <% end %>
    <% end %>


  <br>
  <br>
  <%= link_to 'Edit', edit_event_path(@event) %> 

<% end %>

<%= link_to 'Back', events_path %>
