<%= form_with(model: look_a_like, local: true) do |form| %>
  <% if look_a_like.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(look_a_like.errors.count, "error") %> prohibited this look_a_like from being saved:</h2>

      <ul>
        <% look_a_like.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_field :bio %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
