<p id="notice"><%= notice %></p>

<h1 class="flex justify-center">Look A Likes</h1>





    <% @look_a_likes.each do |look_a_like| %>
      <div class="flex justify-center">

        <div class="look-alike-card rounded overflow-hidden border bg-white">
          <div class="w-full flex justify-between h-full px-3 pt-3">
            <div class="w-full relative">
              <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden">
                <%if look_a_like.user.image.attached? %>
                  <%= image_tag(look_a_like.user.image, :class => "") %>
                <%end%>
              </div>
                


                <% a = look_a_like.user.first_name %>
                <%if a == nil %>
                  <% a = "" %>
                <%end%>

                <% b = look_a_like.user.last_name %>
                <%if b == nil %>
                  <% b = "" %>
                <%end%>

              <% name = a + b %>

              <p><%= link_to name, look_a_like %></p>

              <div class="look-alike-bio">
                <p><%= look_a_like.bio %></p>
              </div>

              <div class="look_alike_pics overflow-hidden">
                <%if look_a_like.user.image.attached? %>
                  <%= image_tag(look_a_like.user.image, :class => "pics") %>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>





<br>

