<p id="notice"><%= notice %></p>

<h1>Look A Likes</h1>

<div class="object-center">
<div class="flex-col justify-center bg-gray-100 font-sans overflow-hidden ">




    <% @look_a_likes.each do |look_a_like| %>

        <div class="container mx-auto">
          <p><%= look_a_like.user.first_name %></p>
          <p><%= look_a_like.user.last_name %></p>
          <p><%= link_to 'Show', look_a_like %></p>
        </div>

    <% end %>


</div>
</div>

<br>

<%= link_to 'New Look A Like', new_look_a_like_path %>
