<p id="notice"><%= notice %></p>



<div class="card" style="width: 18rem;">
<p class="text-cyan-600">
  <strong>First name:</strong>
  <%= @look_a_like.user.first_name %>
</p>

<p>
  <strong class="text-amber">Last name:</strong>
  <%= @look_a_like.user.last_name %>
</p>



<p>
  <strong class="text-amber">Bio:</strong>
  <%= @look_a_like.bio %>
</p>

</div>



<div class="m-20 p-10">
    <% (0...@images.count).each do |img| %>
        <div class="square overflow-hidden rounded-lg shadow-lg flex justify-center">
            <%= image_tag(@images[img], :class => "") %>
        </div>

    <% end %>
    </div>


<%= link_to 'Back', look_a_likes_path %>
