<p id="notice"><%= notice %></p>


<div class="bg-white rounded shadow border p-6 w-64">
  <h5 class="text-3xl font-bold mb-4 mt-0">First name:</h5>
  <p class="text-gray-700 text-sm"><%= @look_a_like.user.first_name %></p>
</div>



<div class="card" style="width: 18rem;">
<p class="text-cyan-600">
  <strong>First name:</strong>
  <%= @look_a_like.user.first_name %>
</p>

<p>
  <strong class="text-amber">Last name:</strong>
  <%= @look_a_like.user.last_name %>
</p>


<% if @look_a_like.images.attached? %>
  <p>
    <strong>Photo:</strong>
    <%= image_tag @look_a_like.image %>
  </p>
<% end %>

<p>
  <strong class="text-amber">Bio:</strong>
  <%= @look_a_like.bio %>
</p>

</div>


<%= link_to 'Back', look_a_likes_path %>
