<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @look_a_like.user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @look_a_like.user.last_name %>
</p>


<% if @look_a_like.images.attached? %>
  <p>
    <strong>Photo:</strong>
    <%= image_tag @look_a_like.image %>
  </p>
<% end %>



<%= link_to 'Edit', edit_look_a_like_path(@look_a_like) %> |
<%= link_to 'Back', look_a_likes_path %>
