<!DOCTYPE html>
<html>
  <head>
    <title>GaryBuseyLookalikes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag  'application',  media: 'all',  'data-turbolinks-track': 'reload'  %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header></header>
  <body>
    <nav class="login"><%= render "layouts/login" %></nav>
    <div class="sidenav"><%= render "layouts/navbar" %></div>
  
    <%= yield %>
    
  </body>
</html>
